/* FONTS */

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}



/* VARIABLES */

:root {
    /*Font colors */
    --color-text-primary: hsl(0, 0%, 100%);
    --color-text-accent: hsl(75, 94%, 57%);
    /* --color-text-muted: ; */

    /*Font sizes*/
    --font-size-lg: 22px;
    --font-size-base: 14px;
    --font-size-sm: 10px;

    /*Font weight*/
    /* --font-weight-strong: ; */
    --font-weight-regular: 600;
    --font-weight-light: 300;
}



/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}


/* GLOBAL STYLES */

body {
    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter', sans-serif;
    text-align: center;
}

footer a {
    /*Color alone should not be used to indicate things like interactive text, there must be another visual change (https://www.w3.org/WAI/WCAG21/Understanding/use-of-color.html)*/
    text-decoration: underline;
}



/* LAYOUT */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

footer {
    height: 1.5rem;
}



/* UTILITIES */

.text-primary {
    color: var(--color-text-primary);
}

.text-accent {
    color: var(--color-text-accent);
}

/* .text-muted {
    color: var(--color-text-muted);
} */

.text-lg {
    font-size: var(--font-size-lg);
}

.text-base {
    font-size: var(--font-size-base);
}

.text-sm {
    font-size: var(--font-size-sm);
}

.text-regular {
    font-weight: var(--font-weight-regular);
}

.text-light {
    font-weight: var(--font-weight-light);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}



/* COMPONENTS */

.profile-card {
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
    padding: 1.5rem;
    max-width: 20rem;
    width: 100%;
}

/*Select any direct children nexcept the first one.
How to read it
Part	        Meaning
.profile-bio	The parent container
>	            Only direct children
*	            Any element
+	            Immediately after
*	            Any element

Pattern: A + B
Select B if it comes immediately after A.
*/
.profile-card > * + * {
    margin-top: 1rem;
}

.profile-card img {
    max-width: 5rem;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-card-bio p {
    margin-top: 0.5rem;
}

.profile-card-bio blockquote {
    margin-top: 1rem;
}

.profile-card-links li {
    margin-bottom: 0.75rem;
}

.profile-card-links a {
    display: block;
    width: 100%;
    padding: 0.63rem 0;
    background-color: hsl(0, 0%, 20%);
    border-radius: 8px;
    text-decoration: none;
}

.profile-card-links a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}